<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authentication mode="Windows"/>
    <authorization>
      <!--<deny users="?"/>-->
      <allow roles="WSDOT\GISDevelopers"/>
      <allow users="WSDOT\ComstoG"/>
      <deny users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>