html, body, #map {
	padding:0;
	margin:0;
	height:100%;
}

#clearanceForm {
	position: absolute;
	top: 0;
	right: 0;
}

.map-progress {
	position: absolute;
	bottom: 50%;
	right: 50%;
}